body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    touch-action: pan-y;
    overflow: auto;
    margin: 0;
}

.user-info-container {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 2px solid #fff;
}

#user-info {
    font-size: 14px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-top: 70px;
}

.stats {
    margin-bottom: 20px;
}

.click-area {
    margin-top: 20px;
}

#click-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.pew-text {
    font-size: 16px;
    margin-top: 5px;
    color: #ddd;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #777;
}